.nav-link {
  display: inline-block;
  transition: color 0.25s ease-in;
}

.navbar-nav .active.hr {
  display: none;
}

#footer-container a {
  color: #f8f9fa !important;
}

.footer-icon {
  display: inline-block;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in;
}

#footer-container a.footer-icon:hover {
  transform: scale(1.1) !important;
  color: gray !important;
}

#footer-container a.nav-link:hover {
  color: gray !important;
}

.officer {
  background-color: lightgoldenrodyellow;
  border-radius: 0 100vw 100vw 0;
  gap: 2rem;
  padding-block: 2rem;
  padding-left: 9rem;
}

.team-button {
  padding-block: 4.5rem !important;
  transition: transform 0.35s ease-out !important;
}

.team-button:hover {
  transform: scale(1.1);
}

.carousel-inner{
  height: 100%;
}

.carousel-item{
  height: 100%;
}


.player-entry {
  background-color: crimson;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
}
