/* NAV BAR CSS */
.nav-link {
  display: inline-block;
  transition: color 0.25s ease-in;
}

.navbar-nav .active.hr {
  display: none;
}
/* NAV BAR CSS END */


/* FOOTER CSS START */
.bg-footer {
  background-color: #006747;
}

#footer-container a {
  color: #f8f9fa !important;
}

.footer-icon {
  display: inline-block;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in;
}

#footer-container a.footer-icon:hover {
  transform: scale(1.1) !important;
  color: #7E96A0 !important;
}

#footer-container a.nav-link:hover {
  color: #7E96A0 !important;
}
/* FOOTER CSS END  */


/* INDEX / HOMEPAGE CSS START */
#Officers {
  width: 50%;
}

#Schedule {
  width: 50%;
}

@media (max-width: 1400px) {
  #Officers {
    width: 100%;
  }

  #Schedule {
    width: 100%;
  }
}

.officer {
  background-color: #EDEBD1;
  border-radius: 0 100vw 100vw 0;
  gap: 2rem;
  padding-block: 2rem;
  padding-left: 9rem;
}

@media (max-width: 715px) {
  .officer {
    padding-left: 1.5rem;
  }
}

#Schedule {
  background-color: #EDEBD1;
  border-radius: 180px 0 0 180px;
  gap: 2rem;
  padding-block: 3rem;
  padding-left: 8rem !important;
}
/* INDEX / HOMEPAGE CSS END */


/* TEAMS MAIN PAGE CSS START */
.team-button {
  background-image: url(/teams/images/pepe-err.png);
  background-position: center;
  filter: grayscale(90%);
  padding-block: 4.5rem !important;
  transition: transform 0.43s ease-out, filter 0.3s ease !important;
  -webkit-text-fill-color: #f0f0f0;
  /* -webkit-text-stroke: 3px black; */
  border: none;
}

.team-button:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}

.contain-team-a {
  clip-path: polygon(0% 0%, 60% 0%, 95% 100%, 0% 100%);
  width: 75% !important; 
}

.contain-team-b {
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 40% 100%);
  width: 75% !important;
}

.btn-team-a:hover {
  -webkit-text-fill-color: lightblue;
}

.btn-team-b:hover {
  -webkit-text-fill-color: lightcoral;
}

@media (max-width: 715px) {
  .contain-team-a {
    width: 100% !important;
  }

  .contain-team-b {
    width: 100% !important;
  }
}
/* TEAMS MAIN PAGE CSS END */



/* TEAMS SUB PAGES CSS START */
.back_btn {
  color: black;
  transition: all 0.15s ease-out;
}

.back_btn:hover {
  color: gray;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.player-entry {
  /* background-color: crimson; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.player-info_card {
  background-color: #353839;
  height: 95%;
  width: 65%;
  align-self: center;
  filter: drop-shadow(0 0 3.5rem black);
}

.image-container {
  border: dashed red;
  overflow: hidden;
  width: 25%;
  height: 80%;
  margin-left: 4%;
  margin-right: 2%;
  align-self: center;
}

.info-container {
  border: dashed red;
  width: 65%;
  height: 80%;
  margin-right: 4%;
  align-self: center;
}
/* TEAMS SUB PAGES CSS END */



/* SPONSORS PAGE CSS START */
.sponsor-banner {
  width: 300px !important;
  height: 100px !important;
}

#Funding-Usage {
  height: 60vh;
}

#Contact_Us {
  height: 60vh;
}

/* SPONSORS PAGE CSS END */



/* GENERAL CSS START*/
.links-BlackToGray {
  color: black;
  transition: all 0.15s ease-out;
}

.links-BlackToGray:hover {
  color: gray;
}
/* GENERAL CSS END*/
