.nav-link {
  display: inline-block;
  transition: color 0.25s ease-in;
}

.navbar-nav .active.hr {
  display: none;
}

#footer-container a {
  color: #f8f9fa !important;
}

.footer-icon {
  display: inline-block;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in;
}

#footer-container a.footer-icon:hover {
  transform: scale(1.1) !important;
  color: gray !important;
}

#footer-container a.nav-link:hover {
  color: gray !important;
}

#Officers{
  width: 50%;
}

#Schedule{
  width: 50%;
}

@media (max-width: 1400px) {
  #Officers {
      width: 100%;
  }

  #Schedule{
    width: 100%;
}
}

.officer {
  background-color: lightgoldenrodyellow;
  border-radius: 0 100vw 100vw 0;
  gap: 2rem;
  padding-block: 2rem;
  padding-left: 9rem;
}

#Schedule {
  background-color: lightgoldenrodyellow;
  border-radius: 180px 0 0 180px;
  gap: 2rem;
  padding-block: 3rem;
  padding-left: 8rem !important;
}

.team-button {
  padding-block: 4.5rem !important;
  transition: transform 0.35s ease-out !important;
}

.team-button:hover {
  transform: scale(1.1);
}

.back_btn{
  color: black;
  transition: all 0.15s ease-out
}

.back_btn:hover{
  color: gray;
  /* transform: scale(1.05); */
}

.carousel-inner{
  height: 100%;
}

.carousel-item{
  height: 100%;
}


.player-entry {
  background-color: crimson;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.player-info_card{
  background-color: gray;
  height: 85%;
  width: 75%;
  align-self: center;
  filter: drop-shadow(0 0 3.5rem blue);
}

.image-container{
  background: aqua;
  overflow: hidden;
  width: 25%;
  height:80%;
  margin-left: 4%;
  margin-right: 2%;
  align-self: center;
}

.info-container{
  background-color: rgb(164, 86, 206);
  width: 65%;
  height:80%;
  margin-right: 4%;
  align-self: center;
}

.sponsor-banner{
  width: 300px !important;
  height: 100px !important;
}

#Funding-Usage{
  height: 60vh;
}

#Contact_Us{
  height: 60vh;
}

.links-BlackToGray{
  color: black;
  transition: all 0.15s ease-out
}

.links-BlackToGray:hover{
  color: gray;
}