<div class="row justify-content-evenly text-center justify-content-lg-center mw-100">
  <div class="col-12 col-sm-3 col-md-2 mb-3 mb-md-4">
    <h4>More Info</h4>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="https://bullsconnect.usf.edu/feeds?type=club&type_id=58599&tab=home" class="nav-link p-0 text-body-secondary">Bullsconnect</a>
      </li>
      <li class="nav-item mb-2">
        <a href="http://www.nctta.org/" class="nav-link p-0 text-body-secondary">NCTTA</a>
      </li>
      <li class="nav-item mb-2">
        <a href="/sponsors.html" class="nav-link p-0 text-body-secondary">Our Sponsors</a>
      </li>
      <li class="nav-item mb-2">
        <a href="https://www.usf.edu/" class="nav-link p-0 text-body-secondary">USF</a>
      </li>
    </ul>
  </div>

  <div class="col-12 col-sm-3 col-md-2 mb-3 mb-md-4">
    <h4>Contact Us</h4>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="../index.html#Officers" class="nav-link p-0 text-body-secondary">Officers</a>
      </li>
      <li class="nav-item mb-2">
        <a href="../index.html#About_us" class="nav-link p-0 text-body-secondary">About Us</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Web issues</a>
      </li>
    </ul>
  </div>

  <div class="col-12 col-sm-3 col-md-2 mb-3 mb-md-4">
    <h4>Play Schedule</h4>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <p class="nav-link p-0 text-white">Mon: 8:30PM - 9:45PM</a>
        <p class="nav-link p-0 text-white">Wed: 8:30PM - 9:45PM</a>
        <p class="nav-link p-0 text-white">Fri: 8:30PM - 9:15PM</a>
      </li>
    </ul>
  </div>
</div>

<div
  class="d-flex flex-column flex-sm-row justify-content-between w-50 mx-auto py-3 my-4 border-top"
>
  <p>&copy; 2024 USF Table Tennis. All rights reserved.</p>

  <ul class="list-unstyled d-flex h5">
    <li class="mx-3">
      <a class="link-body-emphasis footer-icon" href="#"
        ><i class="fa-brands fa-discord"></i>
      </a>
    </li>
    <li class="mx-3">
      <a class="link-body-emphasis footer-icon" href="https://www.instagram.com/tabletennisclubatusf/"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </li>
    <li class="mx-3">
      <a class="link-body-emphasis footer-icon" href="#"
        ><i class="fa-brands fa-facebook"></i
      ></a>
    </li>
  </ul>
</div>
<p class="text-center align-bottom">Made by professional a idiot, please hire.</p>
