<div class="row justify-content-center text-center mw-100">
  <div class="col-12 col-sm-3 col-md-2 mb-3 mb-md-4">
    <h5>Section</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Home</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Features</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">About</a>
      </li>
    </ul>
  </div>

  <div class="col-12 col-sm-3 col-md-2 mb-3 mb-md-4">
    <h5>Section</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Home</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Features</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">About</a>
      </li>
    </ul>
  </div>

  <div class="col-12 col-sm-3 col-md-2 mb-3 mb-md-4">
    <h5>Section</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Home</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Features</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">About</a>
      </li>
    </ul>
  </div>
</div>

<div
  class="d-flex flex-column flex-sm-row justify-content-between w-50 mx-auto py-3 my-4 border-top"
>
  <p>&copy; 2024 Company, Inc. All rights reserved.</p>

  <ul class="list-unstyled d-flex h5 ">
    <li class="mx-3">
      <a class="link-body-emphasis" href="#"
        ><i class="fa-brands fa-discord"></i>
      </a>
    </li>
    <li class="mx-3">
      <a class="link-body-emphasis" href="#"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </li>
    <li class="mx-3">
      <a class="link-body-emphasis" href="#"
        ><i class="fa-brands fa-facebook"></i
      ></a>
    </li>
  </ul>
</div>
