<div class="container-fluid">
  <a class="navbar-brand ms-5" href="https://usftt.github.io/">
    <img src="/images/templates/USFTTlogo.png" 
    class="ms-4"
    width="148px" 
    height="auto" />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <!-- remove "text-end pe-2" to make colapse bar start text in middle -->
    <ul
      class="navbar-nav ms-auto mb-2 mb-md-0 w-50 justify-content-around text-end pe-2"
    >
      <li class="nav-item">
        <a class="nav-link" href="https://usftt.github.io/">Home</a>
        <hr class="border-dark border-2 m-1" />
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teams.html">Teams</a>
        <hr class="border-dark border-2 m-1" />
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sponsors.html">Sponsors</a>
        <hr class="border-dark border-2 m-1" />
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resources.html">Resources</a>
        <hr class="border-dark border-2 m-1" />
      </li>
    </ul>
  </div>
</div>
