/* INDEX / HOMEPAGE CSS START */
.about-us-container{
    background-image: url(../images/homepage/Team-pic.jpg);
    background-size: cover;
    background-position: 0% 68%;
  }

  #About_us{
    align-content: center;
  }

  main{
    padding-left: 20%;
  }
  
  #Officers {
    width: 50%;
  }

  .officer {
    width: 150%;
    background-color: #EDEBD1;
    border-radius: 0 100vw 100vw 0;
    gap: 2rem;
    padding-block: 2rem;
    padding-left: 9rem;
  }

  .officer img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-right: 2.5rem;
  }
  
  #WindowImg {
    background-image: url(../images/homepage/bottom-image.jpg);
    background-size: cover;
    background-position: 50% 0%;
    background-attachment: fixed;
    height: 75vh;
    width: 100%;
  }
  
  @media (max-width: 1400px) {
    #Officers {
      width: 100%;
    }

    .officer {
      width: 100%;
    }
  
    #schedule-banner {
      width: 100%;
    }

    #About_us{
      align-content: end;
    }
  }
  
  @media (max-width: 896px) {
    .officer {
      padding-left: 1.5rem;
    }

    .officer img {
      margin-left: 2.5rem;
      margin-right: 5rem;
      margin-bottom: 2.5rem;
    }

    #WindowImg{
      background-attachment: scroll;
      width: 100%;
      height: 60vh;
    }
  }
  
  #YellowBoarder{
    background-color: #EDEBD1;
    padding: 28px
  }
  /* INDEX / HOMEPAGE CSS END */