/* SPONSORS PAGE CSS START */
.sponsor-banner {
    width: 300px !important;
    height: 100px !important;
  }
  
  #Funding-Usage {
    height: 60vh;
  }
  
  #Contact_Us {
    height: 60vh;
  }
  
  /* SPONSORS PAGE CSS END */