/* TEAMS MAIN PAGE CSS START */
.team-button {
    background-image: url(../teams/images/pepe-err.png);
    background-position: center;
    filter: grayscale(90%);
    padding-block: 4.5rem !important;
    transition: transform 0.43s ease-out, filter 0.3s ease !important;
    -webkit-text-fill-color: #f0f0f0;
    /* -webkit-text-stroke: 3px black; */
    border: none;
  }
  
  .team-button:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
  }
  
  .contain-team-a {
    clip-path: polygon(0% 0%, 60% 0%, 95% 100%, 0% 100%);
    width: 75% !important; 
  }
  
  .contain-team-b {
    /* clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 40% 100%); */
    width: 100% !important;
  }

  .contain-team-c {
    clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 40% 100%);
    width: 75% !important;
  }
  
  
  .btn-team-a:hover {
    -webkit-text-fill-color: lightblue;
  }
  
  .btn-team-b:hover {
    -webkit-text-fill-color: lightcoral;
  }
  
  @media (max-width: 715px) {
    .contain-team-a {
      width: 100% !important;
    }
  
    .contain-team-b {
      width: 100% !important;
    }
  }
  /* TEAMS MAIN PAGE CSS END */
  
  
  
  /* TEAMS SUB PAGES CSS START */
  .back_btn {
    color: black;
    transition: all 0.15s ease-out;
  }
  
  .back_btn:hover {
    color: gray;
  }
  
  .carousel-inner {
    height: 100%;
  }
  
  .carousel-item {
    height: 100%;
  }
  
  .player-entry {
    /* background-color: crimson; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .player-info_card {
    background-color: #353839;
    height: 95%;
    width: 65%;
    align-self: center;
    filter: drop-shadow(0 0 3.5rem black);
  }
  
  .image-container {
    border: dashed red;
    overflow: hidden;
    width: 25%;
    height: 80%;
    margin-left: 4%;
    margin-right: 2%;
    align-self: center;
  }
  
  .info-container {
    border: dashed red;
    width: 65%;
    height: 80%;
    margin-right: 4%;
    align-self: center;
    flex-direction: column;
  }

  
  @media (max-width: 896px) {
    .player-info_card{
      flex-direction: column;
    }
    
    .image-container{
      width: 90%;
      height: 90%;
      margin: 0%;
    }

    .info-container {
      border: dashed red;
      width: 90%;
      height: 90%;
      margin: 0%;
    }
  }

  /* TEAMS SUB PAGES CSS END */